<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504245731789-032qdn2r8kimij14p8k1t7vuteku2kvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504245731789-032qdn2r8kimij14p8k1t7vuteku2kvj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWM7sr2Au_0QZzXmaYgFiqT4pxE7EPwUE</string>
	<key>GCM_SENDER_ID</key>
	<string>504245731789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Esprit.Bookito</string>
	<key>PROJECT_ID</key>
	<string>bookito-1bc01</string>
	<key>STORAGE_BUCKET</key>
	<string>bookito-1bc01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504245731789:ios:5568b17141ad1e8e</string>
	<key>DATABASE_URL</key>
	<string>https://bookito-1bc01.firebaseio.com</string>
</dict>
</plist>